.wrapper {
  display: flex;
}

.side_bar {
  width: 300px;
  background-color: #253141;
  height: 100vh;
}
.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name a{
  text-decoration:none;
  font-size : 16px;
  color:#fafafa;
}
.create-room a{
  margin-right:20px;
  padding:14px;
  border:1px solid lightblue;
  color:deepskyblue;
  font-size:10px;
  text-decoration:none;
}

.rooms {
  height: calc(100vh - 100px);
  width: 300px;
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}
.room{
  padding:20px 0 40px
}
.room-name a{
  color:white;
  text-decoration:none;

}

.main-chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
  height: 100vh;
}
.chat-header {
  background-color: #ffffff;
  height: 100px;
  width: calc(100vw - 300px);
  padding:0 40px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.title a{
  padding-top:36px;
  font-size:24px;
  color:#333;
  text-decoration:none;
}
.header-button a{
  margin-top:20px;
  padding:20px;
  color:darkred;
  border: 1px solid darkred;
  text-decoration:none;
}
.messages {
  height: calc(100vh - 100px - 90px);
  width: calc(100vw - 300px);
  background-color: #fafafa;
  padding:46px 40px 0 40px;
  overflow: scroll;

}
.message {
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}
.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display:flex;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}
.field_with_errors {
  display: contents;
}
